<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/image/saint.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">How to select the university.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/image/effile_tower.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Status of part time job.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/image/arc.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Adavantaged for student.</p>
      </div>
    </div>
  </div>
